@{
    ViewData["Title"] = "Contact";
}
<link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
<div id="contact" class="col-md-12">
    <h2>@ViewData["Title"] Us</h2>
    <address>
        <strong>Support:</strong> <a href="mailto:Support@example.com">UpgradedSupport@aol.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">UpgradedMarketing@aol.com</a>
    </address>
</div>
@*<div id="nav" class="col-md-12">
        <a class="navigation">Home</a><h6>/Contact</h6>
    </div>*@
<div id="suggested" class="col-lg-12">
    <h4 id="Feed">
        <span class="glyphicon glyphicon-info-sign"></span> Feedback And Suggestions
    </h4>
    <p>If you have general feedback, or if you have an idea, let us know by emailing us at,</p>
    <p id="email">Feedback@Upgraded.com</p>
</div>

<div id="suggested" class="col-lg-12">
    <h4 id="Feed">
        <span class="glyphicon glyphicon-warning-sign"></span> Need Help ?
    </h4>
    <p>If your having problems or have questions about our site Please Email us,</p>
    <p id="email">Support@Upgraded.com</p>
</div>

<div id="suggested" class="col-lg-12">
    <h4 id="Feed"><span class="glyphicon glyphicon-signal"></span> Stay Connected !</h4>
    <p>Follow us on social media at /Upgraded</p>

</div>





