@{
    ViewData["Title"] = "Home Page";
}

    <!-- Page Content -->
    <div class="container">

        <div class="row">

            <div class="col-md-3">
                
                <div class="list-group">
                    <a href="#" class="list-group-item">Gaming Video Cards</a>
                    <a href="#" class="list-group-item">Performance Video Cards</a>
                    <a href="#" class="list-group-item">Mainstream Video Cards</a>
                    <a href="#" class="list-group-item">Value Video Cards</a>
                </div>
            </div>

            <div class="col-md-9">

                <div class="row carousel-holder">

                    <div class="col-md-12">
                        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                            <ol class="carousel-indicators">
                                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                            </ol>
                            @*Featured Items images.*@
                            <div class="carousel-inner">
                               
                                <div class="item active">
                                    <img src="~/images/Slide/1070SLIDE.jpg" />  
                                </div>
                                <div class="item">
                                    <img src="~/images/Slide/R9SLIDE.jpg" />
                                </div>
                            </div>
                            <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                                <span class="glyphicon glyphicon-chevron-left"></span>
                            </a>
                            <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                                <span class="glyphicon glyphicon-chevron-right"></span>
                            </a>
                        </div>
                    </div>

                </div>

                <h3>Featured Items</h3>

                <div class="row">
                    @*GTX 970*@
                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <div class="thumbnail">
                            <img src="~/images/GPU/GTX970.jpg" />
                            <div class="caption">
                                <h4 class="pull-right">$379.99</h4>
                                <h4>
                                    <a href="#">EVGA GTX 970</a>
                                </h4>
                                <ul class="gpu">
                                    <li>4GB 256-Bit GDDR5</li>
                                    <li>Core Clock 1216 MHz</li>
                                    <li>Boost Clock 1367 MHz</li>
                                    <li>1 x Duallink DVI-I 1 x HDMI 2.0 3 x DisplayPort 1.2</li>
                                    <li>1664 Stream Processors</li>
                                  
                                    
                                </ul>
                                <form href="#">
                                    <input type="submit" value="View more details" />
                                </form>
                            </div>
                           
                        </div>
                    </div>
                    @*GTX 1080ti*@
                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <div class="thumbnail">

                            <img src="~/images/GPU/GTX1080ti.jpg" />
                            <div class="caption">
                                <h4 class="pull-right">$1,039.99 </h4>
                                <h4>
                                    <a href="#">EVGA GTX 1080ti</a>
                                </h4>
                                  <ul class="gpu">
                                      <li>Real Base Clock: 1556 MHz / Real Boost Clock: 1670 MHz; Memory Detail: 11264 MB GDDR5X</li>
                                      <li>1 x Dual Link DVI-D, 1 x HDMI 2.0b, 3 x DisplayPort 1.4</li>
                                  </ul>
                                <form href="#">
                                    <input type="submit" value="View more details" />
                                </form>
                            </div>
                        </div>
                    </div>
                    @*GTX 1070*@
                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <div class="thumbnail">
                            <img src="~/images/GPU/GTX1070.jpg" />
                            <div class="caption">
                                <h4 class="pull-right">$525.99 </h4>
                                <h4>
                                    <a href="#">GTX 1070</a>
                                </h4>
                                <ul class="gpu">
                                    <li>8GB 256-Bit GDDR5</li>
                                    <li>Core Clock 1594 MHz</li>
                                    <li>Boost Clock 1784 MHz</li>
                                    <li>1920 CUDA Cores</li>
                                    <li>PCI Express 3.0</li>
                                    <li>DirectX 12</li>
                                </ul>
                                <form href="#">
                                    <input type="submit" value="View more details" />
                                </form>
                            </div>
                 
                        </div>
                    </div>
                    @*RX 480*@
                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <div class="thumbnail">
                            <img src="~/images/GPU/RX480.jpg" />
                            <div class="caption">
                                <h4 class="pull-right">$329.99</h4>
                                
                                <h4>
                                    <a href="#">AMD Radeon RX 480</a>
                                </h4>
                                <ul class="gpu">
                                    <li>8GB 256-Bit GDDR5</li>
                                    <li>Core Clock 1120 MHz</li>
                                    <li>Boost Clock 1266 MHz</li>
                                    <li>1 x Dual-Link DVI-D 1 x HDMI 3 x DisplayPort</li>
                                    
                                </ul>
                                <form href="#">
                                    <input type="submit" value="View more details" />
                                </form>
                            </div>
                            
                        </div>
                    </div>
                    @*GTX 950*@
                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <div class="thumbnail">
                            <img src="~/images/GPU/950.jpg" />
                          
                            <div class="caption">
                                <h4 class="pull-right">$169.40 </h4>
                                <h4>
                                    <a href="#">GALAX GTX 950</a>
                                </h4>
                                <ul class="gpu">
                                    <li>2GB 128-Bit GDDR5</li>
                                    <li>Core Clock 1076 MHz</li>
                                    <li>Boost Clock 1253 MHz</li>
                                    <li>768 CUDA Cores</li>
                                    <li>PCI Express 3.0 x16</li>
                                    <li>DirectX 12</li>
                                </ul>
                                <form href="#">
                                    <input type="submit" value="View more details" />
                                </form>
                            </div>
                           
                        </div>
                    </div>
                    @*Radeon RX 460*@
                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <div class="thumbnail">
                            <img src="~/images/GPU/460.jpg" />
                            <div class="caption">
                                <h4 class="pull-right">$329.99</h4>
                                <h4>
                                    <a href="#">Radeon RX 460</a>
                                </h4>
                                <ul class="gpu">
                                    <li>4GB 128-Bit GDDR5</li>
                                    <li>Core Clock 1220 MHz</li>
                                    <li>PCI Express 3.0</li>
                                    <li>896 Stream Processors</li>
                                    <li>7.0 GHz Memory clock</li>
                                    <li>DirectX 12</li>
                                </ul>
                                <form href="#">
                                    <input type="submit" value="View more details" />
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>
    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>
